<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%=data.name %></h1>
    <button>Follow</button>
    <button>Message</button>
    <h2>Followers: <%=data.followers %>&nbsp;&nbsp;&nbsp;&nbsp;Following: <%=data.following %></h2>
    <hr/>
    <h3>Posts</h3>
    <div style="display:flex;flex-wrap:wrap;">
        <% data.posts.forEach((post)=>{ %>
            <div style="margin:10px;">
                <img src="<%=post.image%>" alt="Post Image" width="200px" height="200px"/>
                <p><%=post.likes%> likes&nbsp;&nbsp;&nbsp;<%=post.comments%> comments</p>
            </div>
        <% }) %></div>
        <%- include('includes/footer')%>
</body>
</html>